.sectionCaption {
  margin-top: 40px;
  text-align: center;
}

.post__cards {
  display: flex;

  /* Put a card in the next row when previous cards take all width */
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
  /* padding: 10px; */
}

.post__card__item {
  /* There will be 4 cards per row */
  flex-basis: 30%;
  padding: 10px;
  margin: 20px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
.card {
  display: flex;
  flex-direction: column;
}

.card__cover {
  height: 150px;
  width: 100%;
}
.cardImg {
  display: block;
  margin: 20px auto;
}
.card__author {
  margin-top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
}

.post__content {
  flex: 1;
}
.post__title,
.post__desc {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
}

.post__desc {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  overflow-y: scroll;
  height: 100px;
}

.post__social__share {
  margin-right: 40px;
  margin-left: 80px;
}

/* .blog__hr {
  border-top: 1px dotted #041c32;
} */
.postIcon {
  margin-left: 10px;
  margin-right: 10px;
}
.post__category {
  width: 30%;
  position: relative;
  bottom: 30px;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffc145;
}
