.home__hero-section {
  color: #011627;
  padding: 100px;
  background: #ced0ce;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}
.heroImg {
  position: relative;
  max-width: 100%;
  top: 2px;
  left: 30px;
}
.hero__btn {
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 15px;
  border: none;
  outline: none;
  margin-right: 30px;
}
.start {
  background-color: transparent;
  border: 1px solid #f79824;
  color: #011627;
}
.read {
  background-color: #f79824;
  color: #011627;
}
.hero__btn:hover {
  background-color: #276fbf;
  color: #fff;
}
.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  /* color: #041c32; */
}

.dark {
  color: #041c32;
}

.darkBg {
  background-color: #041c32;
}

.home__hero-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 24px;
  color: #000501;
}

.home__hero-img-wrapper {
  max-width: 555px;
}

.home__hero-img {
  position: relative;
  max-width: 100%;
  margin-top: 0;
  z-index: 2;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .home__hero-section {
    padding: 30px;
  }
  .heroImg {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
  .btn__container {
    display: flex;
  }
  .hero__btn {
    padding: 12px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */

  .col {
    max-width: 50%;
    flex-basis: 50%;
  }
  .btn__container {
    display: flex;
  }
  .hero__btn {
    padding: 19px;
  }
  .heroImg {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .col {
    max-width: 50%;
    flex-basis: 50%;
  }
  .btn__container {
    display: flex;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  .col {
    max-width: 50%;
    flex-basis: 50%;
  }
}
